.password-manager-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: rgb(150, 150, 228);;
    font-size: 20x;
    font-family: Arial, Helvetica, sans-serif;
}

.password-submit-form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 10px;

}

button {
    border: none;
    background-color: rgb(241, 186, 194);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.error-message{
    color: red;
}